h1 {
  color: black;
  font-family: "Arial";
}

label {
  font-weight: bold;
}

.republican {
  background-color: red;
}

.democrat {
  background-color: blue;
}

table {
  height: 200px;
  display: block;
}

.list > tbody > tr > td {
  cursor: pointer;
}

.list > tbody > tr:hover {
  background-color: gray;
}

.gray {
  background-color: gray;
}

.card-center {
  border-radius: 5px;
}
